    <head>  
    <style type="text/css">
        /* .service2_item{
            border: 1px solid #3e3e40;
            border-bottom: 1px solid #3e3e40;

            }
        .tp-bullet {
            visibility: hidden;
        }
        .service_icon {
            width: 70px;
            height: 50px;
        }
        @media all and (min-width: 1024px) {
            .style {
                margin-left:220px;
            }
        }
        @media all and (min-width: 920px) and (max-width: 1020px ) {
            .style {
                margin-left:100px;
             }    

        }


        @media all and (max-width: 300px) {
            .voirplus{
                border-radius: 50px;
                width:500px;
                height: 100px;
            }
        }

        #slogan {
            margin-left;2px;
            width: 20px;
        } */
    </style>
    </head>
    <body>
    <% content_for :title do %>Accueil haintso-trano <%end%>
        <!--================Main Slider Area =================-->
                        
        <section class="main_slider_area slider_2">
            <div id="main_slider" class="rev_slider" data-version="5.3.1.6" >
                   
                <ul>
                        
                    <li data-index="rs-2972" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="img/home-slider/slider-1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Web Show" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="/lib/haintso-trano/h18-2.jpg" alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina >
                        <!-- LAYERS -->

                      <div class="slider_text_box2">
                            <div class="tp-caption first_text"
                            data-x="['left','left','left','left','left']" 
                            data-y="['middle','middle','middle','middle','middle']" 
                            data-hoffset="['0','15','15','15','15']" 
                            data-voffset="['-30','-30','-30','-30','-60']"  
                            data-fontsize="['80','80','60','60','40']"
                            data-lineheight="['90','90','70','70','50']"
                            data-width="['none','none','none','none']"
                            data-height="none"
                            data-whitespace="['nowrap','nowrap','nowrap','nowrap','nowrap']"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:left(R);","ease":"Power3.easeIn"}]'
                            data-textAlign="['center','center','center','center']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[10,10,10,10]"
                            data-paddingleft="[0,0,0,0]">

                            <%# <font color="#ea6721" style="font-family: Chilanka"> votre projet, votre signature</font> %>
                        <!-- /div>
 -->          
                            <div class="tp-caption secand_text"

                            data-x="['left','left','left','left','left']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['0','15','15','15','15']" 
                            data-voffset="['50','50','50','40','0']" 
                            data-fontsize="['28','28','28','20','20']"
                            data-lineheight="['38','38','38','30','30']"
                            data-width="['760','760','760','550','400']"
                            data-height="none"
                            data-whitespace="normal"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1750,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                            data-textAlign="['left','left','left','left']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"><br><br><br><br><br><br>
                            <font color="white" style="font-family: Century Ghotique">
                            votre projet, votre signature  
                            </font>                      
                            </div>
               <!--             
                        </div>
                    </li>
                    <li data-index="rs-2973" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="img/home-slider/slider-1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Web Show" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""> -->
                        </div>
                 <!--    </li>
                    <li data-index="rs-2973" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="img/home-slider/slider-1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Web Show" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
>>>>>>> remotes/origin/master
                    </li>
 -->                </ul>
            </div>
        </section>
        <!--================End Main Slider Area =================-->
        
        <!--================Feature Content Area =================-->
     <!--    <section class="feature_content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="f_content_item">
                            <i class="fa fa-ge" aria-hidden="true"></i>
                            <a href="#"><h4>innovation</h4></a>
                            <p>Classique ou moderne ? : les deux ! 
                             Extension d'une maison traditionnelle classique par un volume résolument contemporain en bardage bois. Pour une surface totale de 220 m². L'évolution de nos modes de vie s'illustre dans la modulation et le caractère des espaces. Deux ambiances d'architectures différentes mais en harmonie pour ceux qui hésitent.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="f_content_item">
                            <i class="fa fa-building" aria-hidden="true"></i>
                            <a href="#"><h4>premiere construction</h4></a>
                            <p>Loft de haut standing dans la capitale (120 m²). 
                            L'illusion de la grandeur, les formes épurées, les lignes courbes marquent un design résolument contemporain pour cet appartement franchement rénové. Les grands miroirs, les doubles hauteurs dans le salon, les jeux de plafond, l'écran plat niché dans le mur soulignent des intentions, à la fois dans la conception et dans la mise en œuvre, de donner des effets et des sensations à toutes les échelles : du volume, aux plus petits détails.</</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="f_content_item">
                            <i class="fa fa-money" aria-hidden="true"></i>
                            <a href="#"><h4>en cours</h4></a>
                            <p>Maison individuelle moderne de 110 m². 
                             Combles habitables. Le mariage entre la brique et les enduits de façades blanches introduit la modernité dans une architecture traditionnelle de toiture à 2 pans. Les jeux d'ouvertures "carré" renforcent cette présence subtile de modernité.<</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
 -->        <!--================End Feature Content Area =================-->
        
        <!--================Best Company Area =================-->
       <section class="best_company_area" style="text-align: center;">
            <div class="container">
                <div class="row">
                        
                    <div class="b_companu_l_text">
                        <div class="row">
                    
                            <div class="col-md-push-4 col-sm-push-4 jumbotron text-justify w-25 p-3">
                        
                                <h3 style="color:#3e3e40,"><b><i style="font-family: Chilanka">"Votre projet, votre signature"</i></b></h3>
                                <p><b> Plus de 10ans d'expérience dans le domaine</b> <br>
                                    Après plus de 10 ans d'expérience dans le domaine de la construction, de la rénovation de Maisons individuelles, de la conception et du suivi de travaux pour des appartements de prestige en France (principalement en Région Parisienne), le Bureau d'études HETA-FRANCE dirigé par un Maître d'oeuvre, d'origine malgache va ouvrir son annexe "HAINTSO-TRANO" à Antananarivo Madagascar en fin d'année.
                                    <br><br></p>
                            </div>
                        </div>    
                        <div class="row">
                
                            <div class="col-md-push-4 col-sm-push-4 jumbotron text-justify w-50 p-3">
                        
                                <p><b> La qualité au coeur de la strategie</b> <br>
                                    Les travaux de nos locaux situés au centre ville, qui refléteront une qualité de conception et de finition, mêlant à la fois tradition malgache et modernité européenne sont en cours et nous permettront de vos offrir, une fois terminés, des prestations de services similaires à celles destinées à nos clients européens.</p><br>
                            </div>
                        </div>    
                        <div class="row">
                    
                            <div class="col-md-push-4 col-sm-push-4 jumbotron text-justify w-75 p-3">
                        
                                <p> <b>"Votre projet, votre signature"</b> <br>
                                    Comme "un costume sur mesure", les plans de votre future maison doivent vous correspondre en tout point : à votre mode de vie bien sûr, mais aussi elle doit être construite à votre image et dans votre budget : "votre projet, votre signature."
                                    </p><br>
                            </div>
                         </div>   
                    </div>
                    <%# <div class="col-md-7">
                        <div class="b_company_image">
                            <img class="voirplus" src="/lib/haintso-trano/h20.jpg" alt="">
                        </div>
                    </div> %>
                </div>
            </div>
        </section>
 
    <!--================End Best Company Area =================-->
        
        <!--================Our Service2 Area =================-->
       
        <!--================End Our Service2 Area =================-->
        
