<% content_for :title do %>Prestation haintso-trano <%end%>
<%# <img src="/lib/haintso-trano/h18-2.jpg" width="1210" height="600"> %>
<section class="main_slider_area slider_2">
            <div id="main_slider" class="rev_slider" data-version="5.3.1.6" >
                   
                <ul>
                        
                    <li data-index="rs-2972" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="img/home-slider/slider-1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Web Show" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="/lib/haintso-trano/h18-2.jpg" alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina >
                        <!-- LAYERS -->

                      <div class="slider_text_box2">
                            <div class="tp-caption first_text"
                            data-x="['left','left','left','left','left']" 
                            data-y="['middle','middle','middle','middle','middle']" 
                            data-hoffset="['0','15','15','15','15']" 
                            data-voffset="['-30','-30','-30','-30','-60']"  
                            data-fontsize="['80','80','60','60','40']"
                            data-lineheight="['90','90','70','70','50']"
                            data-width="['none','none','none','none']"
                            data-height="none"
                            data-whitespace="['nowrap','nowrap','nowrap','nowrap','nowrap']"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:left(R);","ease":"Power3.easeIn"}]'
                            data-textAlign="['center','center','center','center']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[10,10,10,10]"
                            data-paddingleft="[0,0,0,0]">

                            <%# <font color="#ea6721" style="font-family: Chilanka"> votre projet, votre signature</font> %>
                        <!-- /div>
 -->          
                            <div class="tp-caption secand_text"

                            data-x="['left','left','left','left','left']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['0','15','15','15','15']" 
                            data-voffset="['50','50','50','40','0']" 
                            data-fontsize="['28','28','28','20','20']"
                            data-lineheight="['38','38','38','30','30']"
                            data-width="['760','760','760','550','400']"
                            data-height="none"
                            data-whitespace="normal"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1750,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                            data-textAlign="['left','left','left','left']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"><br><br><br><br><br><br>
                            <font color="white" style="font-family: Century Ghotique">
                            <%# votre projet, votre signature   %>
                            </font>                      
                            </div>
               <!--             
                        </div>
                    </li>
                    <li data-index="rs-2973" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="img/home-slider/slider-1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Web Show" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""> -->
                        </div>
                 <!--    </li>
                    <li data-index="rs-2973" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="img/home-slider/slider-1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Web Show" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
>>>>>>> remotes/origin/master
                    </li>
 -->                </ul>
            </div>
        </section>
         <br><br><br><br>
 <div class="container">
    <div class="row justify-content-md-center" width="50">
        <div class="col col-lg-12 col-xl-10">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: white">
                    <li class="breadcrumb-item" ><a href="/" ><font color="#ea6721 "><i> accueil</i></font></a></li>
                    <li class="breadcrumb-item"><a href="#" ><font color="#ea6721 "><i> Prestation</i></font></a></li>
                </ol>
            </div>      
        </div>
    </div>
</div>



 <section class="our_service_area2" style="padding-top: 20px;">
            <div class="container">
                <div class="main_c_b_title">
                    <h2>nos<br class="title_br">Préstations</h2>
                </div>
                <div class="row service2_inner">
                    <div class="col-md-4 col-sm-6">
                        <div class="service2_item">
                            <div class="service2_item_inner">
                                <div class="service2_item_inner_content">
                                    <div class="service_icon" style="border-radius: 50px; background-color: green">                          
                                         <i class="fa fa-edit" style="font-size:40px;color:white;"></i>

                                    </div>
                                    <h4>Plan et vues perspectives</h4>
                                    <p>Conception et réalisation de plans et vues perspectives en phase étude - permis de construction des travaux.
                                    </p>
                                    <a class="view_btn" href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service2_item">
                            <div class="service2_item_inner">
                                <div class="service2_item_inner_content">
                                    <div class="service_icon" style="border-radius: 50px; background-color: blue">
                                        <i class="fa fa-signal" style="font-size:40px;color:white;"></i>
                                    </div>
                                    <h4>Suivi administratif</h4>
                                    <p>Suivi des demande d'autorisation de construire, interface avec les differents intervanants selon l'avancement...</p>
                                    <a class="view_btn" href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 ">
                        <div class="service2_item">
                            <div class="service2_item_inner">
                                <div class="service2_item_inner_content">
                                    <div class="service_icon"  style="border-radius: 50px; background-color: red">
                                       <i class="fa fa-home" style="font-size:40px;color:white;"></i>
                                    </div>
                                    <h4>Chantier</h4>
                                    <p>
                                        Suivi et coordination du chantier, réalisation des plans d'execution, vérification de la bonne mise en oeuvre des travaux...
                                    </p>
                                    <a class="view_btn" href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 style" style="margin-left: 200px">
                        <div class="service2_item">
                            <div class="service2_item_inner">
                                <div class="service2_item_inner_content">
                                    <div class="service_icon"  style="border-radius: 50px; background-color: black">                               
                                         <i class="fa fa-city" style="font-size:40px;color:white;"></i>
                                    </div>
                                    <h4>présentation</h4>
                                    <p>commerciale immobilière <br>
                                    Réalisation de plaquettes de présentation, plans d'amenagement en couleur, vues perspectives et vidéos.</p>
                                    <a class="view_btn" href="#"></a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 ">
                        <div class="service2_item">
                            <div class="service2_item_inner">
                                <div class="service2_item_inner_content">
                                    <div class="service_icon" style="border-radius: 50px; background-color: #3e3e40">
                                    
                                        <i class="glyphicon glyphicon-euro" style="font-size:40px;color:green;"></i>
                                    </div>

                                    <h4>Budget et planning de travaux</h4>
                                    <p>Elaboration de travaux detaillés de suivi budget et planning de travaux, tableaux d'analyse des coûts fournitures et/ou main-d'oeuvre.</p>
                                    <a class="view_btn" href="#"></a>

                                </div>
                            </div>
                        </div>
                    </div>
                 <!--    <div class="col-md-4 col-sm-6">
                        <div class="service2_item">
                            <div class="service2_item_inner">
                                <div class="service2_item_inner_content">
                                    <div class="service_icon">
                                        <img src="/lib/img/icon/s2-icon-6.png" alt="">
                                        <img src="/lib/img/icon/s2-icon-hover-6.png" alt="">
                                    </div>
                                    <h4>engenierie</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                    <a class="view_btn" href="#">Voir plus</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>