 <br><br><br><br>
 <div class="container">
    <div class="row justify-content-md-center" width="50">
        <div class="col col-lg-12 col-xl-10">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: white">
                    <li class="breadcrumb-item" ><a href="/" ><font color="#ea6721 "><i> accueil</i></font></a></li>
                    <li class="breadcrumb-item"><a href="#" ><font color="#ea6721 "><i> Prestation</i></font></a></li>
                </ol>
            </div>      
        </div>
    </div>
</div>




<img src="/lib/haintso-trano/h20.jpg" width="1210" height="600">

 <section class="our_service_area2" style="padding-top: 20px;">
            <div class="container">
                <div class="main_c_b_title">
                    <h2>nos<br class="title_br">Préstations</h2>
                </div>
                <div class="row service2_inner">
                    <div class="col-md-4 col-sm-6">
                        <div class="service2_item">
                            <div class="service2_item_inner">
                                <div class="service2_item_inner_content">
                                    <div class="service_icon" style="border-radius: 50px; background-color: green">                          
                                         <i class="fa fa-edit" style="font-size:40px;color:white;"></i>

                                    </div>
                                    <h4>Plan et vues perspectives</h4>
                                    <p>Conception et réalisation de plans et vues perspectives en phase étude - permis de construction des travaux.
                                    </p>
                                    <a class="view_btn" href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service2_item">
                            <div class="service2_item_inner">
                                <div class="service2_item_inner_content">
                                    <div class="service_icon" style="border-radius: 50px; background-color: blue">
                                        <i class="fa fa-signal" style="font-size:40px;color:white;"></i>
                                    </div>
                                    <h4>Suivi administratif</h4>
                                    <p>Suivi des demande d'autorisation de construire, interface avec les differents intervanants selon l'avancement...</p>
                                    <a class="view_btn" href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 ">
                        <div class="service2_item">
                            <div class="service2_item_inner">
                                <div class="service2_item_inner_content">
                                    <div class="service_icon"  style="border-radius: 50px; background-color: red">
                                       <i class="fa fa-home" style="font-size:40px;color:white;"></i>
                                    </div>
                                    <h4>Chantier</h4>
                                    <p>
                                        Suivi et coordination du chantier, réalisation des plans d'execution, vérification de la bonne mise en oeuvre des travaux...
                                    </p>
                                    <a class="view_btn" href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 style" style="margin-left: 200px">
                        <div class="service2_item">
                            <div class="service2_item_inner">
                                <div class="service2_item_inner_content">
                                    <div class="service_icon"  style="border-radius: 50px; background-color: black">                               
                                         <i class="fa fa-city" style="font-size:40px;color:white;"></i>
                                    </div>
                                    <h4>présentation</h4>
                                    <p>commerciale immobilière <br>
                                    Réalisation de plaquettes de présentation, plans d'amenagement en couleur, vues perspectives et vidéos.</p>
                                    <a class="view_btn" href="#"></a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 ">
                        <div class="service2_item">
                            <div class="service2_item_inner">
                                <div class="service2_item_inner_content">
                                    <div class="service_icon" style="border-radius: 50px; background-color: #3e3e40">
                                    
                                        <i class="glyphicon glyphicon-euro" style="font-size:40px;color:green;"></i>
                                    </div>

                                    <h4>Budget et planning de travaux</h4>
                                    <p>Elaboration de travaux detaillés de suivi budget et planning de travaux, tableaux d'analyse des coûts fournitures et/ou main-d'oeuvre.</p>
                                    <a class="view_btn" href="#"></a>

                                </div>
                            </div>
                        </div>
                    </div>
                 <!--    <div class="col-md-4 col-sm-6">
                        <div class="service2_item">
                            <div class="service2_item_inner">
                                <div class="service2_item_inner_content">
                                    <div class="service_icon">
                                        <img src="/lib/img/icon/s2-icon-6.png" alt="">
                                        <img src="/lib/img/icon/s2-icon-hover-6.png" alt="">
                                    </div>
                                    <h4>engenierie</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                    <a class="view_btn" href="#">Voir plus</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>