
<% content_for :title do %>Réalisation haintso-trano <%end%>

 <br><br><br><br>
 <div class="container">
    <div class="row justify-content-md-center" width="50">
        <div class="col col-lg-12 col-xl-10">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: white">
                    <li class="breadcrumb-item" ><a href="/" ><font color="#ea6721 "><i> accueil</i></font></a></li>
                    <li class="breadcrumb-item"><a href="#" ><font color="#ea6721 "><i> Réalisation</i></font></a></li>
                </ol>
            </div>      
        </div>
    </div>
</div>

<!--================Our Project2 Area =================--> 
        <!-- <section class="our_project2_area" style="padding-top: 0px">
            <div class="container">
                <div class="main_c_b_title">
                    <h2 style="color:#ea6721">Nos<br class="title_br">Realisations</h2>
                </div>
                    <ul class="our_project_filter" style="color:#3e3e40">
                        <li class="active" data-filter="*"><a href="#">Tous</a></li>
                        <li data-filter=".building"><a href="#">Moderne</a></li>
                        <li data-filter=".interior"><a href="#">Contamporaine</a></li> -->
                       
<!--                     </ul>
                <div class="row our_project_details">
                    <div class="col-md-4 col-sm-6 building isolation interior">
                        <div class="project_item">
                            <img src="/lib/haintso-trano/h11.jpg" class="img"  alt="" width="100" height="250">
                            <div class="project_hover">
                                <div class="project_hover_inner" style="border:#ea6721">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>Classique ou moderne</h4></a>
                                         <p>
                                        Extension d'une maison traditionnelle classique par un volume résolument contemporain en bardage bois. Pour une surface totale de 220 m². 
                                         </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 building isolation tiling design">
                        <div class="project_item">
                            <img src="/lib/haintso-trano/h1.jpg" class="img" alt=""  width="100" height="250">
                            <div class="project_hover">
                                <div class="project_hover_inner" style="border:#ea6721">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>Loft de haut standing dans la capitale (120 m²</h4></a>
                                         <p>
                                        L'illusion de la grandeur, les formes épurées, les lignes courbes marquent un design résolument contemporain pour cet appartement franchement rénové.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 isolation tiling interior design plumbing">
                        <div class="project_item">
                            <img src="/lib/haintso-trano/h3.jpg" class="img" alt=""  width="100" height="250">
                            <div class="project_hover">
                                <div class="project_hover_inner" style="border:#ea6721">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>Maison individuelle moderne de 110 m²</h4></a>
                                          <p> 
                                        Combles habitables. Le mariage entre la brique et les enduits de façades blanches introduit la modernité dans une architecture traditionnelle de toiture à 2 pans. <p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 building isolation tiling plumbing">
                        <div class="project_item">
                            <img src="/lib/haintso-trano/h13.jpg" class="img" alt=""  width="100" height="250">
                            <div class="project_hover">
                                <div class="project_hover_inner" style="border:#ea6721">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>haintso-trano</h4></a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam<p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 isolation tiling interior plumbing">
                        <div class="project_item">
                            <img src="/lib/haintso-trano/h14.jpg" class="img" alt=""  width="100" height="250">
                            <div class="project_hover">
                                <div class="project_hover_inner" style="border:#ea6721">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>haintso-trano</h4></a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 building isolation tiling design plumbing">
                        <div class="project_item">
                            <img src="/lib/haintso-trano/h15.jpg" class="img" alt=""  width="100" height="250">
                            <div class="project_hover">
                                <div class="project_hover_inner" style="border:#ea6721">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>haintso-trano</h4></a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body> -->
        <!--================End Our Project2 Area =================-->
<div class="container realesed">
             
        <div class="row zoom">
                <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-2 col-sm-offset-2 col-xs-offset-1 ">   
                    <img src="/lib/haintso-trano/h4.jpg">
                </div>
                
                <div class="col-md-6 col-sm-6 col-xs-6">   
                    <img src="/lib/haintso-trano/h18.jpg">    
                </div>  
        </div>
        
        <br>

        <div class="row zoom">
                <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
                <img src="/lib/haintso-trano/h8.jpg">
                </div>
    
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <img src="/lib/haintso-trano/h7.jpg">
                </div>
        </div>
        <br>

        <div class="row zoom">
                <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
                    <img src="/lib/haintso-trano/h12.jpg">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <img src="/lib/haintso-trano/h3.jpg">
                </div>
        </div>
        <br>

        <div class="row zoom">
                <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
                    <img src="/lib/haintso-trano/h1.jpg">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <img src="/lib/haintso-trano/h10.jpg">
                </div>
        </div>
        <br>

        <div class="row zoom">
                <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
                    <img src="/lib/haintso-trano/h5.jpg">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <img src="/lib/haintso-trano/h16.jpg">
                </div>
        </div>
        <br>

        <div class="row zoom">
                <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
                    <img src="/lib/haintso-trano/h9.jpg">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                <img src="/lib/haintso-trano/h6.jpg"> 
                </div>
        </div>
        <br>
        
        <div class="row zoom">    
                <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
                    <img src="/lib/haintso-trano/h11.jpg" width="300" height="250">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <img src="/lib/haintso-trano/h13.jpg" width="300" height="250">
                </div>
        </div>
</div>        
    <br><br><br><br><br>