<% content_for :title do %>Réalisation haintso-trano <%end%>
 <br><br><br><br>
    <div class="container">
        <div class="row justify-content-md-center fil-ariane" width="50">
            <div class="col col-lg-12 col-xl-10">
                <div aria-label="breadcrumb">
                    <ol class="breadcrumb" style="background-color: white">
                        <li class="breadcrumb-item" ><a href="/" ><font color="#ea6721 "><i> Accueil</i></font></a></li>
                        <li class="breadcrumb-item"><a href="#" ><font color="#ea6721 "><i font-color="#3e3e40"><i> Réalisation</i></font></a></li>
                    </ol>
                </div>      
            </div>
        </div>
    </div>

    <div class="container-fluid realesed">
         <br><br>    
        <div class="row zoom">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 paire">   
                <img class="rounded img-thumbnail " src="/lib/haintso-trano/h4.jpg">
            </div>
            
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 impaire">   
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h18.jpg">    
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 paire">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>  
        </div>
        
        <br>

        <div class="row zoom">
            <div class="col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">
               <img class="rounded img-thumbnail" src="/lib/haintso-trano/h8.jpg">
            </div>
  
            <div class="col-md-3 col-sm-6 col-xs-6 impaire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h7.jpg">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 paire">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
        </div>
        <br>

        <div class="row zoom">
            <div class="col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h12.jpg">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 impaire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h3.jpg">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
        </div>
        <br>

        <div class="row zoom">

            <div class="col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h1.jpg">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 impaire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h10.jpg">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
        </div>
        <br>

        <div class="row zoom">

            <div class="col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h5.jpg">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 impaire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h16.jpg">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
        </div>
        <br>

        <div class="row zoom">

            <div class="col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h9.jpg">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 impaire">
               <img class="rounded img-thumbnail" src="/lib/haintso-trano/h6.jpg"> 
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
        </div>
        <br>
        
        <div class="row zoom">    

            <div class="col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h11.jpg">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 impaire">
                 <img class="rounded img-thumbnail" src="/lib/haintso-trano/h13.jpg">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
        </div>
          
    <br><br><br>
    </div>      
