<% content_for :title do %>Réalisation haintso-trano <%end%>
 <br><br><br><br>
    <div class="container">
        <div class="row justify-content-md-center fil-ariane" width="50">
            <div class="col col-lg-12 col-xl-10">
                <div aria-label="breadcrumb">
                    <ol class="breadcrumb" style="background-color: white">
                        <li class="breadcrumb-item" ><a href="/" ><font color="#ea6721 "><i> Accueil</i></font></a></li>
                        <li class="breadcrumb-item"><a href="#" ><font color="#ea6721 "><i font-color="#3e3e40"><i> Réalisation</i></font></a></li>
                    </ol>
                </div>      
            </div>
        </div>
    </div>

    <div class="container-fluid realesed">
         <br><br>    
        <div class="row zoom">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div class="desc-left"><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 paire">   
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h5.jpg">
                <%# <img class="rounded img-thumbnail " src="/lib/haintso-trano/h4.jpg"> %>
            </div>
            
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 impaire">   
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h5.jpg">    
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 paire">   
                <div class="desc-right"><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>  
        </div>
        
        <br>

        <div class="row zoom">
            <div class="col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div class="desc-left"><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">
               <img class="rounded img-thumbnail" src="/lib/haintso-trano/h5.jpg">
            </div>
  
            <div class="col-md-3 col-sm-6 col-xs-6 impaire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h5.jpg">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 paire">   
                <div class="desc-right"><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
        </div>
        <br>

        <div class="row zoom">
            <div class="col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div class="desc-left"><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h5.jpg">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 impaire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h5.jpg">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">   
                <div class="desc-right"><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
        </div>
        <br>

        <div class="row zoom">

            <div class="col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div class="desc-left"><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h5.jpg">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 impaire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h5.jpg">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">   
                <div class="desc-right"><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
        </div>
        <br>
<%# 
        <div class="row zoom">

            <div class="col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h5.jpg">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 impaire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h16.jpg">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
        </div>
        <br> %>

        <div class="row zoom">

            <div class="col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div class="desc-left"><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h5.jpg">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 impaire">
               <img class="rounded img-thumbnail" src="/lib/haintso-trano/h5.jpg"> 
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">   
                <div class="desc-right"><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
        </div>
        <br>
        
        <div class="row zoom">    

            <div class="col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div class="desc-left"><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h5.jpg">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 impaire">
                 <img class="rounded img-thumbnail" src="/lib/haintso-trano/h5.jpg">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">   
                <div class="desc-right"><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
        </div>
          
    <br><br><br>
    </div>      
<%#     
<div style="position:relative; height:400px">
   <div style="position:absolute;z-index:1">
      <img src="/lib/haintso-trano/h13.jpg">
   </div>
   <div style="position:absolute;top:360px; width:600px; height:400px; z-index:2;font-size:200%">
      <center><b>Ma maison...</b></center>
    </div> 
</div> %>