<% content_for :title do %>Réalisation haintso-trano <%end%>
<!--  <br><br><br><br>
    <div class="container">
        <div class="row justify-content-md-center fil-ariane" width="50">
            <div class="col col-lg-12 col-xl-10">
                <div aria-label="breadcrumb">
                    <ol class="breadcrumb" style="background-color: white">
                        <li class="breadcrumb-item" ><a href="/" ><font color="#ea6721 "><i> Accueil</i></font></a></li>
                        <li class="breadcrumb-item"><a href="#" ><font color="#ea6721 "><i font-color="#3e3e40"><i> Réalisation</i></font></a></li>
                    </ol>
                </div>      
            </div>
        </div>
    </div>

    <div class="container-fluid realesed">
         <br><br>    
        <div class="row zoom">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 paire">   
                <img class="rounded img-thumbnail " src="/lib/haintso-trano/h4.jpg">
            </div>
            
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 impaire">   
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h18.jpg">    
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 paire">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>  
        </div>
        
        <br>

        <div class="row zoom">
            <div class="col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
 --><!-- 
            <div class="col-md-3 col-sm-6 col-xs-6 paire">
               <img class="rounded img-thumbnail" src="/lib/haintso-trano/h8.jpg">
            </div>
  
            <div class="col-md-3 col-sm-6 col-xs-6 impaire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h7.jpg">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 paire">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
        </div>
        <br>
 -->
<!--         <div class="row zoom">
            <div class="col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h12.jpg">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 impaire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h3.jpg">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
        </div>
        <br>

        <div class="row zoom">

            <div class="col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div> -->
<!-- 
            <div class="col-md-3 col-sm-6 col-xs-6 paire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h1.jpg">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 impaire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h10.jpg">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
        </div>
        <br>

        <div class="row zoom">

            <div class="col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div> -->
<!-- 
            <div class="col-md-3 col-sm-6 col-xs-6 paire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h5.jpg">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 impaire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h16.jpg">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
        </div>
        <br>

        <div class="row zoom">

            <div class="col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
 --><!-- 
            <div class="col-md-3 col-sm-6 col-xs-6 paire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h9.jpg">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 impaire">
               <img class="rounded img-thumbnail" src="/lib/haintso-trano/h6.jpg"> 
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
        </div>
        <br>
        
        <div class="row zoom">    

            <div class="col-md-3 col-sm-6 col-xs-6 impaire" style="text-align:right">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div> -->

<!--             <div class="col-md-3 col-sm-6 col-xs-6 paire">
                <img class="rounded img-thumbnail" src="/lib/haintso-trano/h11.jpg">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 impaire">
                 <img class="rounded img-thumbnail" src="/lib/haintso-trano/h13.jpg">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 paire">   
                <div><h2 style="color:white"><b>TITRE</b></h2><p>Déscription</p><p>Lieu</p><p>Date</p></div>
            </div>
        </div>
          
    <br><br><br>
    </div>       -->

<style>
@media all and (max-width: 1440px){
    .zom img{
        height: 230px;
        width: 380px;
        border: solid black 1px;
        padding-left: 0px;
    }
}
@media all and (max-width: 1024px){
    .zom img{
        height: 240px;
        width: 320px;
        border: solid black 1px;
        padding-left: 0px;
    }
}
@media all and (max-width: 768px){
    .zom img{
        height: 150px;
        width: 230px;
        border: solid black 1px;
        padding-left: 0px;
    }
}
@media all and (max-width: 425px){
    .zom img{
        height: 280px;
        width: 390px;
        border: solid white 3px;
        padding-left: 30px;
    }
}
@media all and (max-width: 375px){
    .zom img{
        height: 280px;
        width: 370px;
        border: solid white 3px;
        padding-left:5px;
    }
}
@media all and (max-width: 320px){
    .zom img{
        height: 210px;
        width: 310px;
        border: solid white 3px;
        padding-left:10px;
    }
}

</style>

<br><br><br><br>
<div class="row zom">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <img src="/lib/haintso-trano/h5.jpg">
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <img src="/lib/haintso-trano/h18.jpg">
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <img src="/lib/haintso-trano/h7.jpg">
    </div>
</div>

<div class="row zom">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <img src="/lib/haintso-trano/h3.jpg">
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <img src="/lib/haintso-trano/h15.jpg">
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <img src="/lib/haintso-trano/h6.jpg">
    </div>
</div>