        <!--================Footer Area =================-->
        <footer class="footer_area">
            <div class="footer_widgets_area footer_bg">
                <div class="container">
                    <div class="row footer_widgets_inner">
                        <div class="col-md-2 col-sm-5">
                            <aside class="f_widget about_widget">
                                <ul>
                                    <li><a href="www.facebook.com/haintso-trano"><i class="fa fa-facebook"> <h5> facebook</h5></i></a></li><br>
                                    <li><a href="www.twiter.com/haintso-trano"><i class="fa fa-twitter"> <h5> twiter</h5></i></a></li><br>
                                    <li><a href="#"><i class="fa fa-google-plus"> <h5> google-plus</h5></i></a></li>
                                </ul>
                            </aside>
                        </div>
                            <div class="col-md-3 col-sm-5">
                            <aside class="f_widget give_us_widget">
                                    <center><img src="/lib/haintso-trano/pdg.jpg" width="70" height="70" style="border-radius: 50px"><br><br>
                                    <p style="color:white">Monsieur A. Hoby<br>
                                    P D G<br>
                                    Heta-France <br>
                                    Haintso Madagascar <br>
                                    contact@heta-france.fr <br>
                                    +0033(0)6 64 49 11 18 </p>
                                    </center>
                            </aside>
                        </div>

                        <div class="col-md-3 col-sm-5">
                            <aside class="f_widget recent_widget">
                                <div class="f_w_title">
                                    <center><img src="/lib/haintso-trano/fenitra.jpg" width="70" height="70" style="border-radius: 50px"><br><br>
                                    <p style="color:white"> Fenitra RAKOTONANAHARY <br>
                                    Administrarive And Financial Manager <br>
                                    +261 32 85 085 17</p>
                                    </center>
                                </div>
                                <div class="recent_w_inner">
                                   
                                    
                            </aside>
                        </div>
                        <div class="col-md-2 col-sm-5">
                            <aside class="f_widget address_widget">
                                <div class="f_w_title">
                                    <center><img src="/lib/haintso-trano/karine.jpg" width="70" height="70" style="border-radius: 50px"><br><br>
                                    <p style="color:white"> karine A. RAKOTO <br>
                                    Projet Manager <br>
                                    +261 34 19 377 58</p>
                                    </center>
                                </div>
                               
                            </aside>
                        </div>
                            <div class="col-md-2 col-sm-5">
                            <aside class="f_widget address_widget">
                                <div class="f_w_title">
                                    <center><img src="/lib/haintso-trano/kristella.jpg" width="70" height="70" style="border-radius: 50px"><br><br>
                                    <p style="color:white">Kristella Julie V.RAKOTONDRANAIVO <br>
                                    Draughtswoman Manager <br>
                                    </p>
                                    </center>
                                </div>
                               
                            </aside>
                        </div>

                    
                    </div>
                </div>
            </div>
        </footer>
        <!--================End Footer Area =================-->
        