        <!--================Footer Area =================-->

        <footer class="footer_area">
            <div class="footer_widgets_area footer_bg" style="padding-bottom: 0px">
                <div class="container">
                    <div class="row footer_widgets_inner">
                        <div class="col-md-2 col-sm-5 networking_left">
                            <aside class="f_widget about_widget">
                                <ul> 
                                    <li><a href="https://www.facebook.com/haintsotrano/"><i class="fab fa-facebook-square"> <h5> facebook</h5></i></a></li><br>
                                    <li><a href="https://www.instagram.com/haintsotrano/"><i class="fab fa-instagram"> <h5> instagram</h5></i></a></li><br>
                                    <li><a href="https://www.linkedin.com/in/haintso-trano-mg-892266171/"><i class="fab fa-linkedin-square"> <h5> linkedin</h5></i></a></li>
                                </ul>
                            </aside>
                        </div>
                            <div class="col-md-3 col-sm-5">
                            <aside class="f_widget give_us_widget">


                                    <center><img src="/lib/haintso-trano/dg.png" width="70" height="60" style="border-radius: 70px ; border: 0.5px solid #ea6721"><br><br>


                                    <p style="color:white">Monsieur A. Hoby<br>
                                    P D G<br>
                                    Heta-France <br>
                                    Haintso Madagascar <br>
                                    contact@heta-france.fr <br>
                                    +0033(0)6 64 49 11 18 </p>
                                    </center>
                            </aside>
                        </div>

                        <div class="col-md-3 col-sm-5">
                            <aside class="f_widget recent_widget">
                                <div class="f_w_title">


                                    <center><img src="/lib/haintso-trano/fenitr.png" width="70" height="60" style="border-radius: 50px; border: 0.5px solid #ea6721"><br><br>


                                    <p style="color:white"> Fenitra RAKOTONANAHARY <br><br>
                                    Administrative And Financial Manager <br>
                                    +261 32 85 085 17</p>
                                    </center>
                                </div>
                                <div class="recent_w_inner">
                                   
                                    
                            </aside>
                        </div>
                        <div class="col-md-2 col-sm-5">
                            <aside class="f_widget address_widget">
                                <div class="f_w_title">
                                    <center><img src="/lib/haintso-trano/Badge/02.png


                                        " width="70" height="60" style="border-radius: 50px ; border: 0.5px solid #ea6721"><br><br>


                                    <p style="color:white"> karine A. RAKOTO <br><br>
                                    Projet Manager <br>
                                    +261 34 19 377 58</p>
                                    </center>
                                </div>
                               
                            </aside>
                        </div>
                            <div class="col-md-2 col-sm-5">
                            <aside class="f_widget address_widget">
                                <div class="f_w_title">


                                    <center><img src="/lib/haintso-trano/kristella.jpg" width="70" height="60" style="border-radius: 50px ; border: 0.5px solid #ea6721"><br><br>

                                    <p style="color:white">Kristella Julie V.RAKOTONDRANAIVO <br>
                                    Draughtswoman Manager <br>
                                    </p>
                                    </center>
                                </div>
                               
                            </aside>
                        </div>

                  <!--       <div class="col-md-2 col-sm-5 networking_bottom">
                            <aside class="f_widget about_widget">
                                <ul> 
                                    <li><a href="https://www.facebook.com/haintsotrano/"><i class="fab fa-facebook-square"> <h5> facebook</h5></i></a></li><br>
                                    <li><a href="https://www.instagram.com/haintsotrano/"><i class="fab fa-instagram"> <h5> instagram</h5></i></a></li><br>
                                    <li><a href="https://www.linkedin.com/in/haintso-trano-mg-892266171/"><i class="fab fa-linkedin-square"> <h5> linkedin</h5></i></a></li>
                                </ul>
                            </aside>
                        </div> -->
                    </div>
                </div>
            </div>
        </footer>
        <!--================End Footer Area =================-->
        