 <div class="modal fade" id="voirplus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <img src="/lib/haintso-trano/h18.jpg" width="570"><br><br><br>

                               <h2 style="font-family: Chilanka"> “votre projet, votre signature”</h2><br>

                
               <p><b> Plus de 10ans d'expérience dans le domaine</b><br>
                Après plus de 10 ans d'expérience dans le domaine de la construction, de la rénovation de Maisons individuelles, de la conception et du suivi de travaux pour des appartements de prestige en France (principalement en Région Parisienne), le Bureau d'études HETA-FRANCE dirigé par un Maître d'oeuvre, d'origine malgache va ouvrir son annexe "HAINTSO-TRANO" à Antananarivo Madagascar en fin d'année.</p><br>

               <p><b> La qualité au coeur de la strategie</b> <br>
                Les travaux de nos locaux situés au centre ville, qui refléteront une qualité de conception et de finition, mêlant à la fois tradition malgache et modernité européenne sont en cours et nous permettront de vos offrir, une fois terminés, des prestations de services similaires à celles destinées à nos clients européens.</p><br>

               <p> <b>"Votre projet, votre signature"</b> <br>
                Comme "un costume sur mesure", les plans de votre future maison doivent vous correspondre en tout point : à votre mode de vie bien sûr, mais aussi elle doit être construite à votre image et dans votre budget : "votre projet, votre signature."</p><br>
                
            </div>         
            </div>
         </div>
 </div>



